/* Technology.module.css */

.techItem {
    position: relative;
    overflow: hidden;
    width: 100%; /* Ensure the container takes full width available */
    padding-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.techImage {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.techItem:hover .techImage {
    transform: scale(1.05); /* Zoom effect on hover */
}

.techName {
    color: transparent;
    position: absolute;
    bottom: 10px; /* Position at the bottom */
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: default;
}

.techItem:hover .techName {
    color: white;
    transform: translateX(-50%) translateY(30px); /* Move down */
}

.titleDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 35px;
    border: 1px solid white;
}



.techGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(183px, 1fr));
    overflow-y: auto;
    grid-auto-rows: 25%;
    border: 1px solid white;
    overflow-x: hidden;
}

@media (max-width: 460px) {
    .techItem {
        justify-content: flex-start;
        margin: 0px;
        margin-left: 10px;
    }

    .titleDisplay {
        font-size: 20px;
    }
}