.cardContainer {
    display: flex;
    gap: 16px;
    padding: 20px;
    padding-left: 30px;
    overflow-x: auto;
    overflow-y: hidden;
    height: 43%;
  }
  
  .project {
    color: black;
    border: 3px solid #ddd;
    width: 35vw;
    min-width: 250px;
    height: 100%;
    background-color: #133e7e;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
  }
  
  .objDisplay {
    border: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding-right: 10px;
    font-size: 0.9vw;
    color: #fff;
  }
  
  .descDisplay {
    border: 1px solid #ddd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    text-align: justify;
    padding: 20px;
    color: #fff;
  }
  
  .project:hover {
    transform: scale(1.05);
  }

  @media (max-width: 450px){
    .objDisplay {
        font-size: 10px;
    }

    .descDisplay {
        font-size: 10px;
    }
  }
  
