.cardContainer {
  display: flex;
  gap: 16px;
  padding: 15px;
  overflow-x: auto;
  height: 43%;
}

.project {
  width: 100%;
  min-width: 500px;
  height: 100%;
  background-color: aqua;
  transition: transform 0.2s;
}

.project:hover {
  transform: scale(1.05);
}

.cardImage {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.cardContent {
  padding: 16px;
}

.cardTitle {
  font-size: 1.25em;
  margin: 0 0 8px 0;
}

.cardText {
  color: #555;
}
