body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  overflow: hidden;
}

body {
  background: linear-gradient(-45deg, #711c91, #ea00d9, #0abdcb , #133e7e, #091833);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  border-radius: 0;
  background-color: #091833;
}

button:hover {
  background-color: #133e7e;
}

h1 {
  padding: 15px;
  margin-top: 0px;
  font-size: 2vw;
  color: #711c91;
    text-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #ea00d9,
        0 0 82px #ea00d9,
        0 0 92px #ea00d9,
        0 0 102px #ea00d9,
        0 0 151px #ea00d9;
}

a {
text-decoration: none;
}

@media (max-width: 880px) {
h1 {
  font-size: 18px;
}
}

@media (max-width: 450px){

p {
  margin: 5px;
}
}
