.projectDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.slider {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    color: black;
    position: absolute;
    width: 700px;
    height: 280px;
    text-align: justify;
    background-color: transparent;
    border-radius: 10px;
    transition: 0.5s;
    left: calc(50% - 320px);
    top: 10;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #fff;
}

.item:hover {
    transform: scale(1.05);
  }

#next, #prev{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
}

.indicator {
    width: 100%;
    height: auto;
    background-color: #091833;
    opacity: 0.8;
}

.picDisplay {
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.descDisplay {
    border: 1px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    padding: 20px;
    height: 73.5%;
    color: #fff;
    height: 77.9%;
  }

.bodyDisplay {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 180px;
}

.techGrid {
    display: 'grid';
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: '10px';
    height: 100%;
}

@media (max-width: 450px){
    .item {
        left: calc(50% - 118px);
        width: 270px;
    }

    .descDisplay {
        font-size: 8.6px;
    }

    .bodyDisplay {
        grid-template-columns: 35% 65%;
    }
}

