.techDisplay {
    display: grid;
    width: 100%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 15% 85%;
    animation: transitionE 2s ease 0s 1 normal forwards;
}

@keyframes transitionE {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  