.sidebar {
    width: 5%;
    min-width: 40px;
    height: 100%;
    background-color: #133e7e;
}

.navButton {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navButtonA {
    width: 100%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px solid #0abdcb;
}

.textRot {
    text-orientation: upright;
    writing-mode: vertical-rl;
    font-size: 15px;
    color: #ea00d9;
}