body {
    margin: 0;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
}

button {
    border-radius: 0;
    background-color: white;
}

h1 {
    padding: 15px;
    margin-top: 0px;
    font-size: 3vw;
}